.boton{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 60px;
    background-color:  #23A057;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s ease all;
    border-radius: 16px;
    position: relative;
    overflow: hidden;
   }